include src/telescope_baseline/data/phot/mag.list
include src/telescope_baseline/data/optics/teleff.json
include src/telescope_baseline/data/qe/qe*.json
include src/telescope_baseline/data/filter/filter*.json
include src/telescope_baseline/data/filter/H_filter.dat
include src/telescope_baseline/data/filter/J_filter.dat
include src/telescope_baseline/data/spectra/*.dat
include src/telescope_baseline/data/spectra/speclist.txt
include src/telescope_baseline/data/catalog/*.hdf

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune docs/_build
prune docs/_static
prune docs/_templates
prune docs/_build/doctrees/index.doctree
