include src/telescope_baseline/data/tel.json
include src/telescope_baseline/data/teleff.json
include src/telescope_baseline/data/teleffp.json
include src/telescope_baseline/data/filter/filter*.json
include src/telescope_baseline/data/qe/qe*.json
include src/telescope_baseline/data/mag.list
include src/telescope_baseline/data/filter/H_filter.dat
include src/telescope_baseline/data/filter/J_filter.dat
include src/telescope_baseline/data/spectra/*.dat
include src/telescope_baseline/data/speclist.txt
include src/telescope_baseline/data/cat.hdf
include src/telescope_baseline/data/cat_hw12.5.hdf
include src/telescope_baseline/data/cat_hw14.5.hdf

graft tests
graft examples
graft docs

global-exclude *.py[co]

prune docs/_build
prune docs/_static
prune docs/_templates
prune docs/_build/doctrees/index.doctree
